<h1>Create New Article</h1>

<form method="post" action="/articles">
  <p>Enter the name of your article and submit to create it!</p>
  <p>Title: <textarea name="title"></textarea></p>
  <p>Content: <textarea name="content"></textarea></p>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
